body {

    background-color: #5383e8;
    margin: 0px;   
    
}

.bar {

    position: relative;
    display: flex;
    background-color:#4c78d4 
    
}

li {

    display: inline;
    padding: 10px;

}


.btd {
 
    color: rgb(0, 238, 255);
    font-size: 100%;
    padding-bottom: 16px;
}

.bt {

    color: rgb(212, 211, 211);
    font-size: 100%;
   padding-bottom: 16px;

}

a:link {

    color: rgb(212, 211, 211);
    text-decoration: none;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif", Dotum;
    font-size: medium;

}

a:hover {

    color: white;
    border-bottom: 2px rgb(255, 255, 255) solid;

}

.imgini {

    display: flex;
    justify-content: center;
    height: 200px;
    margin-top: 7%;
    margin-bottom: 3%;

}

#search {

    border-radius: 40px;
    border: none;
    width: 50%;

}

#search:focus {

    outline: none;

}

.searchbar {

    border-radius: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 50%;
    padding-top: 10px;
    font-size: auto;
    margin: auto;
    padding: 0px 20px;
    max-width: 60%;

}

.sbutton {

    background-color: white;
    border: none;
    border-radius: 10px;

}